@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,700&display=swap&subset=cyrillic');

html, body {
    font: 16px/18px 400 sans-serif;
    font-family: 'Ubuntu';
}

img, .img-responsive {
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
}

.navbar a {
    color: #0060c7;
    font-size: 3rem;
    text-decoration: none;
}

.search-block {
    max-width: 600px;
    margin: 0 auto;
}

.search-form {
    display: flex;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #0060c7;
    border-radius: 5px;
    padding: 5px;
}

.search-form input[type='search'] {
    border: none;
    border-radius: 5px;
    width: 100%;
    padding-left: 10px; 
}

.search-form input[type='search']:focus {
    border: none;
    outline: none;
    background-color: #fff;
}

.search-form button {
    border: none;
    background: #fff;
    border-radius: 5px;
}

.search-form button:focus {
    outline: none;
}

.search-form button img {
    width: 32px;
    height: 32px;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;
}

.card-films {
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.card-films h1 {
    font-size: 24px;
}

.descript {
    margin-top: auto;
    padding: 10px 0;
}

/* CSS Preloader */

.gooey {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(50% - 30px);
    width: 150px;
    height: 40px;
    margin: -40px 0 0 -40px;
    background: white;
    filter: contrast(20);
}

.gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(-25px);
    animation: dot 2.8s infinite;
}
.gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}

span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
}

@keyframes dot {
  50% {
    transform: translateX(96px);
  }
}
@keyframes dots {
  50% {
    transform: translateX(-31px);
  }
}

.text-info {
    font-size: 2rem;
}