img, .img-responsive {
    max-width: 100%;
    height: auto;
}

.item {
    margin: 15px 0;
    text-align: center;
}

.card-films {
    display: flex;
    flex-direction: column;
}

.card-films h1 {
    font-size: 24px;
}

.descript {
    margin-top: auto;
    padding: 10px 0;
}

