.movies-list {
    .row-flex();

    .card-films {
        .col();
        .size(3);
        .size-md(4);
        .size-sm(6);
        .size-xs(12);
    }

    .text-info {
        display: block;
        width: 100%;
        p {
            text-align: center;
        }
    }
}


